{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="messages">
                    {% if messages %}
                    {% for message in messages %}
                    <p id="message_container" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <h3 class="text-center">Any Problems Send Message Here</h3>
                </div>
                <form action="{% url 'send_mail' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name='name' class="form-control" placeholder="Your/Name/Email.." required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name='email' class="form-control" placeholder="Your Email..">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name='message' rows="3" placeholder="Your Message"
                                  required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}